.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-previous {
    color: #E1E1E1;
    margin: 5px;
    transform: scaleX(-1);
}

.arrow-next.active {
    color: #407BFF;
}

.arrow-next {
    margin: 5px;
}

.pagination-item {
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: #E1E1E1;
    margin: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item.active {
    background-color: #407BFF;
}